.products{
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;

    .card{
        width: 40%;
        margin: 2%;
        background-color: $cardBackground;
        padding: 2%;
        border-radius: 10px;
        
        h3, p{
            text-decoration: none;
        }
    }
}