.homepage{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    .prodcuts{
        height: 10%;
        display: flex;
    }

    .acceuil{
        width: 30%;
        display: flex;
        align-items: center;
        flex-direction: column;

        img{
            border-radius: 10px;
        }

        p, h2{
            margin: 2%;
            text-align: justify;
        }
    }
}